<div id="content" class="col-lg-10 col-lg-offset-1">
  <header id="header" class="col-lg-12">
    <h1>{{titulo}}</h1>
  </header>
  <nav id="nav" class="col-lg-12">
    <ul>
      <li><a [routerLink]="['/home']"          [routerLinkActive]="['activado']">Inicio</a></li>
      <li><a [routerLink]="['/personas-list']" [routerLinkActive]="['activado']">Personas</a></li>
      <li><a [routerLink]="['/persona-add']"   [routerLinkActive]="['activado']">Registrar personas</a></li>
    </ul>
  </nav>
  <section id="main" class="col-lg-12">
    <router-outlet></router-outlet>
  </section>
  <footer id="footer" class="col-lg-12">
    <p>Registro de personas</p>
  </footer>
</div>