<h3>{{titulo}}</h3>
<div class="table-responsive">
	<table class="table table-hover">
	<thead>
		<tr>
			<th class="text-left">Nombre</th>
			<th class="text-left">Apellido p.</th>
			<th class="text-left">Apellido m.</th>
			<th class="text-left">Nro documento</th>
			<th class="text-left">Fecha nac.</th>
			<th class="text-left">Acciones</th>
		</tr>
	</thead>
	<tbody *ngFor="let persona of personas">
		<tr>
			<td class="text-left">{{persona.nombre_pers}}</td>
			<td class="text-left">{{persona.ape_pater}}</td>
			<td class="text-left">{{persona.ape_mater}}</td>
			<td class="text-left">{{persona.nro_doc}}</td>
			<td class="text-left">{{persona.fecha_nac}}</td>
			<td class="text-left">
				<a class="btn btn-primary btn-sm" [routerLink]="['/persona-edit',persona.id]">Editar</a>
				<a class="btn btn-danger btn-sm" (click)="onDeletePersona(persona.id);">Eliminar</a>
			</td>
		</tr>
	</tbody>
</table>
</div>